@import "../node_modules/ketcher-react/dist/index.css";

.ketcher-container {
	height: 100%;
	width: 100%;
}

.ketcher-container button {
	color: unset;
	background-color: initial;
	box-shadow: initial;
}
